*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --color-primay: #D2C2B0;
    --color-background-seconday: #1F1F24 ;
    --color-white: #ffffff;
    --color-terracota: #ec7c4a;
}

/* 3 Circulos e Carrosel */

main {
    background-color: var(--color-background-seconday)
}

.card-container1 {
    display: flex;
    align-items: center;
    justify-content: space-around;  
}

.card-container1 .circulo{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.circulo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.img-c{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit:unset;
}

.circulo:hover {
    width: 200px;
    height: 200px;
    transition: 1s;
  }

/* Carrosel */

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card1 {
    width: 300px;
    height: 320px;
    border: 100%;
    border-radius: 50%; 
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-image: url(./images/1.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card2 {
    width: 300px;
    height: 320px;
    border: 100%;
    border-radius: 50%; 
    margin: 3rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-image: url(./images/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.card3 {
    width: 300px;
    height: 320px;
    border: 100%;
    border-radius: 50%; 
    margin: 3rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-image: url(./images/3.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.card-text {
    width: 50%;
    letter-spacing: 7px;
    color: var(--color-white);
}

.linha-text {
    text-decoration:underline;
    text-decoration: none;
    border-bottom: 1px solid var(--color-white);
    padding-bottom: 8px;
    line-height: 1.9;
    font-size: 20px;
    font-family:sans-serif;
}


.slides-list{
    /*remove os estilos da lista*/
    list-style-type: none;
    margin: 10px ;
    padding: 0;
    width: 400%;
    min-height: 300px;
    --total-items: 3;
	width: calc(var(--total-items) * 100%);
    position: relative;
    left: 0%;
    position: relative;
    left: calc(var(--selected-item) * -100%);
    --selected-item: 0;
    transition: left 0.4s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    /* 
      deixa todos os itens da lista
      na horizontal e todos com a
      mesma largura
    */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    text-align: center;
  }
  .slide-show{
    overflow: hidden;
  }

.slide-controller:nth-child(1):checked ~ .slide-show .slides-list{--selected-item: 0;}
.slide-controller:nth-child(2):checked ~ .slide-show .slides-list{--selected-item: 1;}
.slide-controller:nth-child(3):checked ~ .slide-show .slides-list{--selected-item: 2;}


.slide-show img {
    width: 50%;
}